html {
    height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: rgb(242, 252, 255);
    color: rgb(30, 30, 30);
}

html, button, input, select, textarea, .pure-g [class *= "pure-u"] {
    font-family: 'Open Sans', sans-serif;
}

a, a:hover, a:visited {
    color: rgb(30, 30, 30);
}

h2 {
    text-transform: uppercase;
    text-align: center;
}

#header {
    color: white;
    background: rgb(64, 114, 222);
    font-size: small;
    text-align: right;
    padding: 1em;
}

#header a {
    color: white;
}

#content {
    margin: 1em;
    background: white;
    border: 2px solid rgb(195, 220, 227);
    border-radius: 4px;
    padding: 4px;
}

.locality_name {
    font-size: larger;
}

.county_name {
    font-size: x-small;
}

.item_row {
    padding: 8px;
    border-top: 1px solid rgb(190, 200, 220);
}
