{% extends "base.html" %}

{% block content %}

<h1>Summary</h1>

{% regroup states|dictsort:"state_name" by state_name as region_list %}

{% for state in region_list %}
    <h2>{{ state.grouper }}</h2>
    {% for item in state.list|dictsort:"name" %}
        <div class="pure-g item_row">
            <div class="pure-u-1 pure-u-md-3-5">
                <span class="locality_name">
                    {% if item.county_name %}
                        {{ item.name }}
                    {% else %}
                        {% if item.name %}
                            {{ item.name }}
                        {% else %}
                            {{ item }}
                        {% endif %}
                    {% endif %}
                </span>
            </div>
            <div class="pure-u-2-5 pure-u-md-1-5">
                {% if item.url %}
                    (<a href="{{ item.url }}">Website</a>)
                {% endif %}
            </div>
            <div class="pure-u-3-5 pure-u-md-1-5">
                {% if item.primary_latitude and item.primary_longitude %}
                    <a href="http://www.google.com/maps/place/{{ item.primary_latitude }},{{ item.primary_longitude }}">
                        {{ item.primary_latitude }}, {{ item.primary_longitude }}
                    </a>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endfor %}

{% endblock %}
